*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  color: map-get($palette, light10);
  background: map-get($palette, dark20);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif, 'Segoe UI', Roboto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
